---
layout: archive
title: "Papers"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% assign statuses = "accepted,published,submitted,wip" | split: ',' %}
{% for status in statuses %}
  {% assign filtered_publications = site.publications | where: "status", status %}
  {% if filtered_publications.size > 0 %}
    {% if status == "accepted" %}
      <h2>Accepted & Forthcoming</h2>
    {% elsif status == "published" %}
      <h2>Published Papers</h2>
    {% elsif status == "submitted" %}
      <h2>Submitted Papers</h2>
    {% elsif status == "wip" %}
      <h2>Works in Progress</h2>
    {% endif %}
    <hr />
    {% for post in filtered_publications reversed %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
